[submodule "external/bullet"]
	path = external/bullet
	url = https://github.com/bulletphysics/bullet3
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
